body{
	@include reinicia();
}
#carrusel{
	nav.nav-center{
		ul.ppal{
			text-align:$centered;
			li.ppal{
				@include navbar();
			}
			a.ppal{
				display:$inline;
			}
		}
	}
	.slide{
		@include slideOne();
	}
	.slide2{
		@include slideTwo();
	}
	.slide3{
		@include slideThree();
	}
	.circle-container{
		@include circleCont();
	}
}
#services{
	@include services();
}
#beauty{
	@include beautyHair();
}
#aboutGift{
	@include aboutG();
	img{
		border-radius:$img-radius;
	}
}