@mixin reinicia(){
	padding:0;
	margin:0;
    max-width: 100%;
}
@mixin navbar(){
	float:none;
	display:inline;
} 
@mixin slideOne(){
	background:url(../img/slide1.jpg);
	background-size:$full-width;
	background-repeat:no-repeat;
	height:550px;
}
@mixin slideTwo(){
	background:url(../img/slide2.jpg);
	background-size:$full-width;
	background-repeat:no-repeat;
	height:550px;
}
@mixin slideThree(){	
	background:url(../img/slide3.jpg);
	background-size:$full-width;
	background-repeat:no-repeat;
	height:550px;
}
@mixin circleCont(){
	margin-top: 300px;
	a{
		margin: 0 6px; 
		.fa{
			color:transparent;
			border:1.3px solid white;
			border-radius:100%;
			height:15px;
			size:60px;
		}	
	}
	i:hover{
		color:brown;
	}
}
@mixin services(){
	background-color:#E9E0B7;
	color:$body-color;
	width:$full-width;
	margin-top:2px;
	height:500px;
	border-top:$black-border;
	border-bottom:$white-border;
	a{
		background-color: #DBBE86;
		color:$body-color;
		padding: 0 5px;
	}
}
@mixin beautyHair(){
	background-color:#F4F4F4;
	border-bottom:$grey-border;
	width:$full-width;
	color:$body-color;
	.welcome-container{
		margin-top:30px;
		padding: 20px;
		img{
		border-radius:15%;
		}
	}
	.text-container{
		padding: 25px 35px;
		h5{
			color:$beauty-title;
		}
		i{
			color:$spa;
		}	
	}
}