$centered:center;
$ideal-padding: 50px 30px;
$brown:#2F1F1F;
$full-width:100%;
$inline:inline-block;
$black-border:2px solid black;
$white-border:2px double white;
$grey-border:2px solid grey;
$pink-border:2px solid #CEB489;
$pink-img-border:8px solid #DBBE86;
$body-color:#363231;
$beauty-title:#D8724F;
$spa:#A38677;
$body-pink:#CEB489;
$img-radius:15%;
$img-pink-border: 3px solid #DE865E;
$footer-pink:#DE865E;